<div class="container my-4">
  <h2 class="text-center mb-4 text-primary">🏥 Patient Management System</h2>

  <div class="row g-4">
    <!-- Patient Form -->
    <div class="col-lg-4">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">Add Patient</div>

        <div class="card-body">
          <form [formGroup]="patientForm">
            <div class="mb-3">
              <label class="form-label">Patient Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter name"
                formControlName="name"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="date_of_birth"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Gender</label>
              <select class="form-select" formControlName="gender">
                <option selected disabled>Select</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter phone number"
                formControlName="phone_number"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Address</label>
              <textarea
                class="form-control"
                rows="2"
                placeholder="Enter address"
                formControlName="address"
              ></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label">Admission Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="admission_date"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Discharge Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="discharge_date"
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary w-100"
              (click)="addpatient()"
            >
              Save Patient
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Patient List -->
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header bg-success text-white">Patient Records</div>

        <div class="card-body table-responsive">
          <table
            class="table table-bordered table-hover align-middle text-center"
          >
            <thead class="table-light">
              <tr>
                <th>Patient-id</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Admission</th>
                <th>Discharge</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let patient of patients">
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.phone_number }}</td>
                <td>{{ patient.admission_date }}</td>
                <td>{{ patient.discharge_date }}</td>
                <td>
                  <button
                    class="btn btn-warning btn-sm me-1 my-3"
                    (click)="update(patient.id)"
                  >
                    Update
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="delete(patient.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="patients.length === 0">
                <td colspan="9" class="text-center py-4">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
